{% extends "base.html" %}

{% block externalLibraries %}
{% endblock %}

{% block title %}MIRCS Geo-Genealogy{% endblock %}

{% block content %}
<div id="contactContent" class="ui grid container">
    <div class="ui sixteen wide column">
      <div class="heading" >
          <h1 class="ui header">MIRCS Geo-Genealogy</h1>
      </div>
      <div class="ui divider"></div>
      <div class="contentText">
        <a href="/upload_file" class="ui button">Upload file</a>
      </div>
    </div>

    {% for t in tables %}
        <div class="sixteen wide column">
          <a href="/view/{{t}}">{{ t }}</a>
        </div>
    {% endfor %}

</div>
{% endblock %}
