{% extends "base.html" %}
{% load staticfiles %}

{% block externalLibraries %}
<script src="{% static 'js/upload_csv.js' %}"></script>
{% endblock %}

{% block title %}Hello World!{% endblock %}

{% block content %}
<div id='uploader'>
  <form id='csvUploadForm' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form }}
    <!-- <input id="submitButton" type="submit" value="Submit" /> -->
    <button id="submitButton" type="button">Click Me!</button>
  </form>
</div>
<div id='primaryKeyPicker'>
  <table id='uploadedDataTable' class="ui celled striped table">
  </table>
</div>
<div id='uploadConfirmation'></div>
{% endblock %}
