{% extends "base.html" %}
{% load staticfiles %}

{% block externalLibraries %}
<link rel="stylesheet" href="{% static 'css/upload_csv.css' %}">
<script src="{% static 'js/upload_csv.js' %}"></script>
{% endblock %}

{% block title %}Hello World!{% endblock %}

{% block content %}
<div id='uploader'>
  <form id='csvUploadForm' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form }}
    <!-- <button id="submitButton" type="button">Click Me!</button> -->
  </form>
</div>
<div id='primaryKeyPicker'>
  <table id='uploadedDataTable' class="ui celled striped table stackable">
  </table>
</div>
<div id='uploadConfirmation'></div>
{% endblock %}
