{% extends "base.html" %}
{% load staticfiles %}

{% block externalLibraries %}
<link rel="stylesheet" href="{% static 'css/upload_file.css' %}">
<script src="{% static 'js/upload_file.js' %}"></script>
{% endblock %}

{% block title %}Upload file{% endblock %}

{% block content %}
<div class="ui grid container">
  <div class="sixteen wide column">
    <h1 class="ui header">Upload file</h1>
    <div id='uploader'>
      <form id='fileUploadForm' enctype='multipart/form-data' class="ui form">
        {% csrf_token %}
        <div class="ui input">
          {{ form }}
        </div>
      </form>
    </div>
  </div>
  <div class="sixteen wide column">
    <div id='primaryKeyPicker' style="display:none;">
      <form id='fileUploadForm' enctype='multipart/form-data' class="ui form" method="POST" action="/create_table">
        {% csrf_token %}
        <div class="field">
          <label>Primary Key</label>
          <select  name="p_key"  id="primary_key" multiple="" class="ui dropdown"></select>
        </div>
        <div class="field">
          <input class="ui button" type="submit" value="Submit"/>
        </div>
      </form>

      <h3 class="ui header">Dataset</h3>

      <table id='uploadedDataTable' class="ui celled striped table stackable">
      </table>
    </div>
    <div id='uploadConfirmation'></div>
  </div>
</div>
{% endblock %}
